/*--------------------------------------------------------------

Template: Erika minimal portfolio
Author: CXWebExperts
Author URI: http://cxwebexperts.com/
Version:  1.0
Design and Developed by: http://cxwebexperts.com/

Note: This is the file where you can add your custom styles to change the look of the theme. 
But don't modify "style.css" file.

---------------------------------------------------------------*/

/* ----------------------------------------------------
	You can put your custom CSS code here:
-------------------------------------------------------*/